<div class="sidebar">
    <img src="https://www.redditstatic.com/desktop2x/img/id-cards/home-banner@2x.png">
    <div style="text-align: center; font-size: 1em">Reddit clone Home Page. Ven y da un vistazo a tus subreddits favoritos.</div>
    <div style="text-align: center">
        <button class="btnCreatePost" (click)="goToCreatePost()">Crear Post</button>
    </div>
    <div style="text-align: center">
        <button class="btnCreateSubreddit" (click)="goToCreateSubreddit()">Crear Subreddit</button>
    </div>
</div>