<div class="login-section">
    <div class="row justify-content-center">
        <div class="col-md-3"></div>
        <div class="col-md-6">
            <div class="card">
                <div class="card-header" style="text-align: center">
                    <h4>Iniciar Sesión</h4>
                </div>
                <div class="card-body">
                    <form [formGroup]="loginForm" (ngSubmit)="login()">
                        <div class="form-group row">
                            <label for="user_name" class="col-md-4 col-form-label text-md-right">Nombre de usuario</label>
                            <div class="col-md-6">
                                <input type="text" id="user_name" [class.is-invalid]="usernameValidator" class="form-control" formControlName="username" name="user_name">
                                <span *ngIf="usernameValidator" class="text-danger">Ingrese un nombre de usuario válido</span>
                            </div>
                        </div>

                        <div class="form-group row">
                            <label for="password" class="col-md-4 col-form-label text-md-right">Contraseña</label>
                            <div class="col-md-6">
                                <input type="password" id="password" [class.is-invalid]="passwordValidator" class="form-control" formControlName="password" name="password">
                                <span *ngIf="passwordValidator" class="text-danger">Ingrese su contraseña</span>
                            </div>
                        </div>

                        <span class="col-md-6 offset-md-4">
                            <button type="submit" class="login">
                                Iniciar Sesión
                            </button>
                            <span style="padding-left: 15px">ó <a [routerLink]="['/sign-up']"> Registrarme</a></span>
                        </span>
                        <div class="login-failed" *ngIf='this.isError'>
                            <p class="login-failed-text">Error al iniciar sesión. Verifica las credenciales e intenta nuevamente.</p>
                        </div>
                        <div class="login-failed" [ngStyle]="{'background-color' : 'green'}" *ngIf="this.registerSuccessMessage.length > 0">
                            <p class="register-succes-text">{{registerSuccessMessage}}</p>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <div class="col-md-3"></div>
    </div>
</div>