<div class="container">
    <div class="row">
        <div class="create-subreddit-container">
            <form class="post-form" [formGroup]="createSubredditForm" (ngSubmit)="createSubreddit()">
                <div class="form-group">
                    <div class="create-subreddit-heading">Crear Subreddit</div>
                    <hr />
                    <input type="text" formControlName="title" class="form-control" style="margin-top: 5px" placeholder="Título">
                    <textarea type="text" formControlName="description" style="width: 100%; margin-top: 5px" placeholder="Descripción"></textarea>
                    <div>
                        <div style="margin-top: 5px" class="float-right">
                            <button (click)="discard()" type="button" class="btnDiscard">Cancelar</button>
                            <button type="submit" class="btnCreateSubreddit">Crear</button>
                        </div>
                    </div>
                </div>
            </form>
        </div>
        <div class="col-md-3">
            <div class="sidebar">
                <h5 class="guidelines">Postea en Reddit Clone</h5>
                <hr />
                <ul>
                    <li>Sé humano</li>
                    <hr />
                    <li>Comportate como lo harías en la vida real</li>
                    <hr />
                    <li>No hagas spam</li>
                    <hr />
                </ul>
            </div>
        </div>
    </div>
</div>